body {
    background-image: linear-gradient(rgba(254, 254, 254, 0.8), rgba(254, 254, 254, 0.3)), url(equipo.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #000;

}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #DCDFEC;
    background: #485186;
    border: 2px solid #485186;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.0s, color white;
    padding: 10px;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: white;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;

}

.btn-nuevo { top: 200px;}
.btn-respuesta { top: 300px;}
.btn-llenado { top: 400px;}
